.App {
  text-align: center;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 10px;
    font-size: 18px;
    color: #000;
    line-height: 1.2;

    display: inline-block;
}

nav a:hover {
 color: #bbb
}